GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://eclaireur-map.vercel.app/
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
CHARIOW_API_KEY=
CHARIOW_WEBHOOK_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
